[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "Westerlund"]
	path = Westerlund
	url = https://github.com/bosco-hung/westerlundtest
	subdir = R
